body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 75em;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
}

#serviceContainer {
    margin-bottom: 10px;
}

#addServiceButton, #removeServiceButton {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addServiceButton:hover, #removeServiceButton:hover {
    background-color: #0056b3;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 10px;
    border-top: none;
}

.map {
    width: 100%;
    height: 300px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

#projectDescription {
    width: 75em;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
}

.documentation-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.documentation-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
